




html, body {
    text-align: center;
    /* background-image: linear-gradient(180deg, blue, white);  */
    background-color: #EADDCA;
}


body {
    margin: 0;

}


h1 {
    font-size: 4rem;
}


h2 {
    font-size: 2rem;
}


p {
    font-size: 1.25rem;
}


nav {
    flex: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    /* border-radius: 2rem; */

    display: flex;
    justify-content: center; /* centers items horizontally */
}

ul li a {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    padding: 24px 32px;  
    font-size: 1.3rem;   
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
    border-radius: 2rem;
}





.logo {
    padding: 1rem;
    width: 12%;
    height: 12%;
    border-radius: 2rem;

    display: block;
    margin-left: 0;

    
}


.galImg {
    width: 25%;
    height: 25%;
    border-radius: 2rem;
    border: 1rem, solid #C0C0C0;
}

.banner {
    height: 8rem;
    background: linear-gradient(135deg, #088F8F, #0f2027);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 3rem;
}


/* 
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


section {
    margin: 2rem;
}


footer {
    padding-top: 12rem;
}


.button {
    background-color: #333333;
}



@media (max-width: 600px) {
    ul {
        flex-direction: column;
    }
}